secrets/

dotfiles/.ssh/*
!dotfiles/.ssh/config
!dotfiles/.ssh/*.pub

dotfiles/.gnupg/*
!dotfiles/.gnupg/common.conf
!dotfiles/.gnupg/gpg-agent.conf
!dotfiles/.gnupg/public-keys.d/

dotfiles/.config/gh/
dotfiles/.config/github-copilot/
dotfiles/.config/raycast/
dotfiles/.config/zsh/.zshrc.local
dotfiles/.config/karabiner/
