secrets/

dotfiles/.ssh/*
!dotfiles/.ssh/config
!dotfiles/.ssh/id_ed25519.pub

dotfiles/.gnupg/*
!dotfiles/.gnupg/common.conf
!dotfiles/.gnupg/gpg-agent.conf
!dotfiles/.gnupg/public-keys.d/

dotfiles/.config/*
!dotfiles/.config/graphite
!dotfiles/.config/lazygit
!dotfiles/.config/neofetch
!dotfiles/.config/wezterm
!dotfiles/.config/yazi
!dotfiles/.config/zsh
!dotfiles/.config/starship.toml
