- name: What fonts to copy?
  find:
    paths: "{{ role_path }}/files/fonts"
    recurse: yes
  register: fonts_files

- name: Set font directory for macOS
  set_fact:
    font_directory: "{{ ansible_env.HOME }}/Library/Fonts/"
  when: ansible_os_family == "Darwin"

- name: Set font directory for Linux
  set_fact:
    font_directory: "{{ ansible_env.HOME }}/.local/share/fonts/"
  when: ansible_os_family != "Darwin"

- name: Ensure fonts directory exists
  file:
    path: "{{ font_directory }}"
    state: directory
    mode: '0755'

- name: Copy fonts
  copy:
    src: "{{ item.path }}"
    dest: "{{ font_directory }}{{ item.path | basename }}"
    mode: '0644'
  loop: "{{ fonts_files.files }}"

- name: Update font cache (Linux only)
  command: fc-cache -f
  when: ansible_os_family != "Darwin"
  changed_when: true
